<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue.js</title>
</head>

<body>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <a href="../../">vuejsディレクトリへ</a>
    <a href="../if_for_rendering/">親ディレクトリへ</a>
    <div id="app">
        <ul>
            <template v-for="fruit in fruits">
                <li>{{ fruit }}</li>
                <hr>
            </template>
        </ul>
        <ul>
            <li v-for="(item, index) in items">
                {{ parentMessage }} - {{ index }} - {{ item.message }}
            </li>
        </ul>
        <ul>
            <li v-for="(val) in object">{{ val }}</li>
            <li v-for="(val, key, index) in object">{{ index }}: {{ key }}は {{ val }}</li>
        </ul>
    </div>

    <script>
        new Vue({
            el: '#app',
            data: {
                fruits: ['りんご', 'バナナ', 'ぶどう'],
                parentMessage: 'Parent',
                items: [
                    { message: 'child!' },
                    { message: 'child!!!' }
                ],
                object: {
                    firstName: '宏太',
                    lastName: '佐藤',
                    age: 21
                }
            }
        })
    </script>
</body>

</html>
