<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue.js</title>
</head>

<body>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <a href="../../">vuejsディレクトリへ</a>
    <a href="../if_for_rendering/">親ディレクトリへ</a>
    <div id="app">
        <h1 v-if="awesome">Vue is awesome!</h1>
        <h1 v-else>Oh no 😢</h1>
        <button @click="awesome = !awesome">😢</button>

        <template v-if="ok">
            <h1>Ok</h1>
            <p>I'm okay!</p>
        </template>
        <template v-else>
            <h1>Not ok</h1>
            <p>Sucks</p>
        </template>
        <button @click="ok = !ok">😢</button>
    </div>

    <script>
        new Vue({
            el: '#app',
            data: {
                awesome: true,
                ok: false,
            }
        })
    </script>
</body>

</html>
